*{
    margin: 0;
    padding: 0;
}
/*a barra de lado*/
::-webkit-scrollbar{
    width:10px;
}
/*esse e o trilho*/
::-webkit-scrollbar-track{
    background-color: transparent;
}
/*os botoes q fica emcima*/
::-webkit-scrollbar-button{
    background-color: #bdb3a6c2;
}
/*O trem*/
::-webkit-scrollbar-thumb{

    background-color:#bfbdbd;
}
body{
    background-color: #b3eaef73;

    margin-right: 1px;
}
footer,header{
    padding: 15px;
    }
    /*Class responsavel por mexer no tamnho das divs*/
.definirTamanho{
    height: 48em;
    padding: 3em;
}
/*Parte responsavel por mexer em todo o menu*/
#menu ul{
    top: 0em;
    position: fixed;
    text-align: center;
    padding: 10px;
    height: 3em;
    width: 100%;
    background: #f0f8ff00;
    left: 0;
}

#menu li{
    display: inline;
}
#menu a{
    text-decoration: none;
    padding: 20px;
    font-size: 21px;
    position: relative;
    top: 12px;
    font-size: 22px;
    color: yellowgreen;
}
#menu h1{
    font-size: 5em;
    padding: 3px;
    text-align: center;
    position: relative;
    top: 2.5em;
}
#menu h2{
    padding: 25px;
    text-align: center;
    position: relative;
    top: 11em;
}
header{
    background-color: #282d2dfa;
    background-image: url('imagens/fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: lightgrey;
    height: 48em;
}
/*Css do corpo da aplicaçõo*/
p{
    font-size: 19px;
    text-align: justify;
    position: relative;
    left: 1em;
}
h1 {
    text-align: center;
    padding: 1em;
    font-size: 2.5em;
    position: relative;
    top: 0em;
}
#sobre img{
    float: left;
    width: 430px;
}
#musica{
    float: left;
    border:solid 1px;
    position: relative;
    left: 10%;    
}
#series{
    position: relative;
    left: -10%;
    float: right;
    border:solid 1px;
    
}
#favoritos{
    clear: both;
    background-color: #68e1ec4a;
}
/*criação dos cards*/
.card{
    float: left;
    width: 389px;
    height: 414px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 2em;
}
.card:hover{
    transform: rotateY(180deg);
}
.frente{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #73ec61ab;
    color: teal;
    border-radius: 2em;
}
.tras{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color:#73ec61;
    color: teal;
    transform: rotateY(180deg);
    border-radius: 2em;
    z-index:1;
}
.card h1{
    position: relative;
    top: 1em;
    font-size: 5em;
}
.card h2{
    text-align: center;
    top: 1em;
    position: relative;
    font-size: 31px;
}
.card ul{
    position: relative;
    /* margin: 0 auto; */
    /* text-align: center; */
    left: 40%;
    top: 3em;
    font-size: 1.5em;
}
#flecha{
    position: relative;
    /* top: 23em; */
    /* left: 33em; */
    font-size: 37px;
    width: 120px;
    height: 120px;
}
/*animação setinha*/
#flecha{
    position: relative;
    top: 2em;
    margin-right: 17em;
    position: relative;
    top: 9em;
    /* left: 12em; */
    margin-left: 17em;
}
.arrow{
    position: relative;
    font-size: 48px;
    text-align: center;
    transform: rotate(90deg);
    animation: arrows 1s infinite;
}
@keyframes arrows{
    0%{top: 0em;}
    50%{top:20px;}
    100%{top: 0em;}
}
/*Mexendo com o footer*/
footer{
    background-color: #68e1ec4a;
    
}
#contatos img {
    padding: 5px;
    text-align: center;
    text-align: center;
    position: relative;
    left: 46%;
    top: 0em;
}